<h1>Welcome <%=@user.username%>!</h1>

<p>You are
  <% if current_user.admin? %>
    the admin
  <% else %>
    an employee
  <% end %>
of <%=@user.company.name%>.</p>

<a href='/products'>View Inventory</a>
<br>
<% if current_user.admin? %>
  <a href='/add_employee'>Add Employee</a>
  <br>
  <a href='/employees'>View Employees</a>
  <br>
<% end %>
<a href='/logout'>Log Out</a>
