<h1>Add Employee to Your Company</h1>


<form method='POST' action='/add_employee'>
  <h3>Employee Information</h3>
  <p>Username: <input type='text' id='username' name='user[username]'></p>
  <p>Email: <input type='text' id='email' name='user[email]'></p>
  <p>Password: <input type='password' id='password' name='user[password]'></p>
  <p>Confirm Password: <input type='password' id='passwordconfirm' name='user[password_confirm]'></p>
  <p class="password-requirements">Password Requirements:</p>
  <ul>
    <li class="password-requirements">Must contain at least one capital letter</li>
    <li class="password-requirements">Must contain at least one lowercase letter</li>
    <li class="password-requirements">Must be at least 6 characters long</li>
  </ul>
  <input type='submit' value='Create Account'>
</form>
