<h1>Create a New Account</h1>

<p class="warning"><em>Note:</em> Only use this page to create a new company account.
  If you are an employee seeking to create an account within your company, ask your
  employer to create an account for you.</p>

<form method='POST' action='/signup'>
  <h3>Your Information</h3>
  <p>Username: <input type='text' name='user[username]' id='username'></p>
  <p>Email: <input type='text' name='user[email]' id='email'></p>
  <p>Password: <input type='password' name='user[password]' id='password'></p>
  <p >Confirm Password: <input type='password' name='user[password_confirm]' id='passwordconfirm'></p>
  <p class="password-requirements">Password Requirements:</p>
  <ul>
    <li class="password-requirements">Must contain at least one capital letter</li>
    <li class="password-requirements">Must contain at least one lowercase letter</li>
    <li class="password-requirements">Must be at least 6 characters long</li>
  </ul>
  <br>
  <h3>Company Information</h3>
  <br>
  <h4>Company Information</h4>
  <p>Company Name: <input type="text" name="company[name]" id='company'></p>
  <br>
  <input type='submit' value='Create Account'>

</form>
