<h2>Common Tasks</h2>
<a href='#create-admin'>Create Admin</a><br/>
<a href='#create-employee'>Create Employee</a><br/>
<a href='#delete-employee'>Delete Employee</a><br/>
<a href='#create-product'>Create Product</a><br/>
<a href='#change-quantity'>Change Quantity of Product</a><br/>
<a href='#change-info'>Edit Products</a><br/>

<br/>

<h5 id='create-admin'>Create an Admin Account</h5>
<p>In order to create an Admin account for your company, visit the <a href='/signup'>Signup Page<a> and fill in your information.
  This will also create a new Company.  Each company can only have one Admin.</p>

<h5 id='create-employee'>Create an Employee Account</h5>
<p>Admins can add Employees to their Company account.  To do so, visit the <a href='/add_employee'>Add Employee</a> page  while logged in and fill
  in the information to create an employee's account.  Each company can have many employees, who all have the ability to update
  the quantity of products in inventory for your Company.</p>

<h5 id='delete-employee'>Delete an Employee Account</h5>
<p>Admins can delete employee accounts as needed. While logged in, visit <a href='/employees'>Your Company Page</a>.  There you
  will see a list of employees on your Company account.  Click the "Delete Employee" button for the employee account you wish
  to delete.</p>

<h5 id='create-product'>Create a New Product in Inventory</h5>
<p>Admins can create new products to list in their company's inventory.  Vist the <a href='/products'>Products Page</a> to view all
  products currently in your company's inventory.  If needed, click the "Add New Product" button at the bottom of the list.
  Fill in the information for the product to add and click "Add Product".</p>

<h5 id='change-quantity'>Change Quantity of Products in Inventory</h5>
<p>Employees can change the quantity of products in inventory as they take a physical inventory of supplies on hand.  To change
  the quantity of a product,  vist the <a href='/products'>Products Page</a>, click the appropriate "Edit" button, change the quantity
  as needed, and click the "Update Product" button.</p>

<h5 id='change-info'>Change Other Information About Products in Inventory</h5>
<p>Admins can change the any information aboutproducts in inventory. To change a product,  vist the <a href='/products'>Products Page</a>,
  click the appropriate "Edit" button, change the information as needed, and click the "Update Product" button.</p>
